$black: #1C1C1C;
$gray-1: #8D8D8D;
$gray: #BBBBBB;
$gray-2: #E8E8E8;
$green: #08d04c;
$red: #F12626;
$blue: #0F28BF;

$black: #1C1C1C;
$gray-1: #8D8D8D;
$gray: #BBBBBB;
$gray-2: #E8E8E8;
$green: #08d04c;
$red: #F12626;
$blue: #0F28BF;

$black: #1C1C1C;
$gray-1: #8D8D8D;
$gray: #BBBBBB;
$gray-2: #E8E8E8;
$green: #08d04c;
$red: #F12626;
$blue: #0F28BF;
$blue-2: #8692DE;

$gray: #8E8989;
$grey-hover: #676363;

$nav-header-a-color: #8E8989;
$nav-header-a-color-hover: #676363;
$nav-header-black: #1C1C1C;
$nav-header-a-color-action: #F12626;
$color-grey-line: rgba(28, 28, 28, 0.1);
$black: #000;
$gray-1: #8D8D8D;
$gray: #BBBBBB;
$gray-2: #E8E8E8;
$green: #08d04c;


$filter-header: #484848;
$filter-item-text: #888888;

$nav-header-a-color-action: #F12626;
$nav-header-search: #0F28BF;
$nav-header-search-input-focus: #7e93d6;
$nav-header-black: #1C1C1C;

$background-footer: #E8E8E8;
$black: #1C1C1C;
$gry:#828282;
$gray-line:#D4D4D4;

$black: #000;
$gray-1: #8D8D8D;
$gray: #BBBBBB;
$gray-2: #E8E8E8;
$green: #08d04c;
$red: #F12626;


$color-grey: rgba(28, 28, 28, 0.5);
$color-grey-line: rgba(28, 28, 28, 0.1);
$logo-desc-color:#8F8989;
$color-search-border: #E4E4E4;
$red: #F12626;
$blue: #0F28BF;


$disabled_color:#BBBBBB;
$active_color:#777777;


$disabled_color:#BBBBBB;
$active_color:#777777;
$border-fullwidth-line-color: #E8E8E8;
$nav-header-a-color: #8E8989;
$nav-header-a-color-hover: #676363;
$black: #1C1C1C;
$gray-1: #8D8D8D;
$gray: #BBBBBB;
$gray-2: #E8E8E8;
$gray-text: #484848;
$green: #08d04c;
$red: #F12626;
$blue: #0F28BF;


$yellow: #F9DB67;