.pre-order {
  padding-bottom: 40px;

  .mini-header {
    margin-top:12px;
    margin-bottom:8px;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
  }

  .header {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 4px;
  }

  .textInfo {
    font-size: 16px;
    line-height: 20px;
    margin-top:16px;
    margin-bottom:40px;
  }

  .block {
    .left {
      .smsAuth {

        display: flex;
        flex-direction: column;
        min-height: 240px;
      }
    }
    .right {
      margin-top:28px;
    }
  }

}

@media (min-width: 360px) {
  .pre-order {
    .mini-header {
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 16px;
    }
  }
}

@media (min-width: 760px) {
  .pre-order {

    .block {
      display: flex;
      .left {
        width: 50%;
        padding-right:20px;
        .smsAuth {
          min-height: 236px;
        }

      }
      .right {
        margin-top:0px;
        display: flex;
        flex-direction: column;
        height: 236px;
        width: 50%;
        padding-left:20px;
        .s-btn {
          margin-top: auto;
        }

      }
    }

  }
}

@media (min-width: 1024px) {
  .pre-order {
    padding-bottom: 250px;
    max-width: 868px;
    .mini-header {
      font-size: 32px;
      line-height: 44px;
      margin-bottom: 20px;
    }
    .block {
      .left {
        padding-right:70px;
      }
      .right {
        padding-left:70px;
      }
    }
  }
}