// Breadcumbs hide on product body class
.product {
  .breadcrumbs-block {
    display:none;
  }
}

.catalog {
  .breadcrumbs-block {
    display:none;
  }
  .display-768 {
    display:none;
  }
}



@media (min-width: 1024px) {
  .catalog {
    .breadcrumbs-block {
      display:block;
    }
    .display-768 {
      display:block;
    }
  }
}
@media (min-width: 1024px) {
  .product {
    .breadcrumbs-block {
      display:block;
    }
  }
}

.breadcrumbs-block {
  font-size: .75rem;
}

@mixin display-full-breadcrumbs() {
  .breadcrumbs-block {
    display: block;
  }
  .breadcrumbs-block {
    padding: 1rem 0;
  }
  .breadcrumbs-block a {
    color: $gray;
    text-decoration: none;
  }
  .breadcrumbs-block a::after {
    content: ">";
    padding-left: .3rem;
  }
  .breadcrumbs-block a:hover {
    color: $grey-hover;
  }
  .breadcrumbs-block a:last-child::after {
    content: none;
  }
}

@media (min-width: 0px) {
  @include display-full-breadcrumbs();

  .breadcrumbs-block {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  @include display-full-breadcrumbs();

  .breadcrumbs-block {
    font-size: .9rem;
  }
}

body.page-good {
  @include display-full-breadcrumbs();
}

