.slick-main-theme {
  .slick-arrow {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 3px solid #000;
    top: initial;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/svg/arrow-left-g.svg);
    bottom: 10px;
  }
  .slick-prev {
    left: calc(50% - 60px);
  }
  .slick-next {
    right: calc(50% - 60px);
  }
}